<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <!-- 1.在遍历对象中，如果只获取一个值，那么获取到的是value -->
        <ul>
            <li v-for="i in info">{{i}}</li>
            <li v-for="i of info">{{i}}</li>
        </ul>
        <!-- 2.获取key和value，==>(value,key) -->
        <ul>
            <li v-for="(value,key) in info">{{key}}:{{value}}</li>
        </ul>
        <!-- 2.获取key和value和index，==>(value,key,index) -->
        <ul>
            <li v-for="(value,key,index) in info">{{index+1}}.{{key}}:{{value}}</li>
        </ul>
    </div>
    <script src="../js/vue.js"></script>
    <script>
        const app = new Vue({
            el:'#app',
            data:{
                info:{
                    name:'lhd',
                    age:18,
                    height:1.80
                },
            }
        })
    </script>
</body>
</html>